@import "../variables";

@mixin page-element {
  max-width: $max-width;
  margin: 1.5em auto;
  padding: 0.5em 1em;

  @media (max-width: calc($max-width + 3em)) {
    margin: 1.5em;
  }
}

nav {
  @include page-element;
  background-color: $nav-bg-color;
  color: $nav-color;
  display: flex;
  flex-direction: column;

  @media (min-width: $breakpoint-width) {
    flex-direction: row;
    gap: 1em;
  }

  div.logo {
    flex: 1;
  }

  a {
    color: $nav-color;
  }
}

main {
  @include page-element;
  background-color: $main-bg-color;
  color: $main-color;
}
