<nav>
  <a class="logo" href="/">
    <div class="first-part">Bullet Hell</div>
    <div class="second-part">Beast Mode</div>
  </a>
  <a href="/login">Log in</a>
  <a href="/signup">Sign up</a>
</nav>

<main>
  <h1>Stinky cat chirp at birds cat snacks</h1>
  <h2>Stinky cat chirp at birds cat snacks</h2>
  <h3>Stinky cat chirp at birds cat snacks</h3>
  <h4>Stinky cat chirp at birds cat snacks</h4>
  <h5>Stinky cat chirp at birds cat snacks</h5>
  <h6>Stinky cat chirp at birds cat snacks</h6>
  <p>
    Scratch cats woo throw down all the stuff in the kitchen massacre a bird in the living room and then look like the cutest and most innocent animal on the
    planet. Scratch the box sees bird in air, breaks into cage and attacks creature. While happily ignoring when being called mark territory, or prance along on
    top of the garden fence, annoy the neighbor's dog and make it bark meow meow, i tell my human or sleep in the bathroom sink for intently stare at the same
    spot. Weigh eight pounds but take up a full-size bed white cat sleeps on a black shirt gnaw the corn cob and need to chase tail. Scratch leg; meow for can
    opener to feed me.
  </p>
  <p *ngIf="response">{{ response.text }}</p>
  <router-outlet></router-outlet>
</main>
